<%- include('head'); -%>
    <main>
        <script>hljs.highlightAll();</script>
        <div class="jumbotron" style="background-color: #252525;">
            <p class="lead"><i class="fa fa-folder-open" aria-hidden="true"></i>
            Available Items</p>
            <hr class="my-4" style="background-color: #303030; height: 2px;">
            <% if (status.isAuthenticated()) { %>
                <!-- If user is authenticated display his items -->
                <p> User: <%= status.user.displayName %></p> 
            <% } else { %>
                <!-- If not say he's not authenticated and display only public items --> 
                <p>You're not authenticated... To post of view your private files please login.</p>
                <a class="btn btn-primary" href="/login" role="button">
                    <span class="fa fa-google"></span>
                    Login
                </a>
                
            <% } %>
            <div class="row">
                <div class="col s12 m8">
                    <h3> <%= item.title %> </h3>
                <div class="card">
                        <div style="margin-left: 10px;">
                            <div class="small">
                                <a>
                                    Posted on <%= item.createdAt.toGMTString(); %> by <%= item.author %> 
                                </a>
                                <div class="language">
                                    <a>
                                        <%= item.type %>
                                    </a>
                                </div>
                                
                            </div>
                            
                            <div class="wrapper" style="max-width: 100%;">
                                <ol>
                                    <% item.abstract.split('\n').forEach(line => { %> 
                                        <li>
                                            <pre><code class="language-<%= item.type %>" id="code-display"><%= line %></code></pre>
                                        </li>
                                    <% }); %> 
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
  <%- include('foot'); -%>