<%- include('head'); -%>
    <main>
        <script>hljs.highlightAll();</script>
        <div class="jumbotron" style="background-color: #252525;">
            <div style="display:-webkit-flex; display:flex; list-style-type:none; padding:0; justify-content:flex-end; margin-top: -18px;">
                <a class="lead" style="margin-right: auto;">
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    Available Pastes
                </a>
                <% if (status.isAuthenticated() && paste.owner == status.user.googleID) { %>
                <form method="POST" action="/delete/<%= paste._id %>">
                    <input style="font-size: 1.8em; padding: 0; margin-right: 10px; margin-top: 2px;" class="delete" type="submit" value="&#xf014" class="btn-floating">
                </form>
                <% } %> 
            </div>
            
            <hr class="my-4" style="background-color: #303030; height: 2px;">
            <% if (status.isAuthenticated()) { %>
                <!-- If user is authenticated display his pastes -->
                <p> User: <%= status.user.displayName %></p> 
            <% } else { %>
                <!-- If not say he's not authenticated and display only public pastes --> 
                <p>You're not authenticated... To post of view your private files please login.</p>
                <a class="btn btn-primary" href="/login" role="button">
                    <span class="fa fa-google"></span>
                    Login
                </a>
                
            <% } %>
            <div class="row">
                <div class="col s12 m8">
                    <h3> <%= paste.title %> </h3>
                <div class="card">
                        <div style="margin-left: 10px;">
                            <div class="small">
                                <a>
                                    Posted on <%= paste.createdAt.toGMTString(); %> by <%= paste.author %> 
                                </a>
                                <div class="language">
                                    <a>
                                        <%= paste.type %>
                                    </a>
                                </div>
                                
                            </div>
                            
                            <div class="wrapper" style="max-width: 100%;">
                                <ol>
                                    <% paste.abstract.split('\n').forEach(line => { %> 
                                        <li>
                                            <pre><code class="language-<%= paste.type %>" id="code-display"><%= line %></code></pre>
                                        </li>
                                    <% }); %> 
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
  <%- include('foot'); -%>